<%#
  Copyright 2019 Matthew B. Gray

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Menu</strong>
      </a>
      <% binding.pry %>
      <% if request.path != root_path %>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <% end %>
    </div>
  </div>

  <div class="<% "collapse" if request.path != root_path %>" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h2 class="h4-like">Site Actions</h2>
          <ul class="list-unstyled">
            <li><%= link_to "Purchase Membership", new_purchase_path %></li>
            <li><%= link_to "Review Memberships", purchases_path %></li>
            <li>Suggest for our Programme (coming soon)</li>
            <li>Volunteering (coming soon)</li>
            <li>Plan my trip(coming soon)</li>
          </ul>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h2 class="h4-like">Account Actions</h2>
          <% if current_user.present? %>
            <%= link_to("Logout #{current_user.email}", logout_user_tokens_path) %>
          <% else %>
            <%= render template: "user_tokens/new" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
