<%#
  Copyright 2019 Jen Zajac (jenofdoom)
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>Upgrade options for #<%= @reservation.membership_number %> from <%= @reservation.membership %></h1>
<div class="container text-center">
  <div class="row d-flex align-items-stretch">
    <% @offers.each do |offer| %>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card shadow-sm h-100">
          <%= render("membership_card", offer: offer) do %>
            <%= link_to(
              "Review #{offer.to_membership}",
              new_reservation_upgrade_path(offer: offer.hash),
              class: %w(btn btn-lg btn-block btn-primary)
            ) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
