<%#
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>
  <% if @details.count == 1 %>
    Kia Ora <%= @details.first %>!
  <% else %>
    Kia Ora!
  <% end %>
</p>

<p>
  Hello eligible Hugo nominator! The deadline for Hugo nominations is just about
  3 days away. Please do not wait until the last minute to start your nominations
  - sometimes there are hiccups in the login process, and it can take our team
  some time to fix those for you. So if you plan to nominate and have not logged
  in and accessed the nomination form yet, please do so ASAP. The deadline for
  nominations is 13 March 2020 at 11:59pm Pacific Daylight Time (2:59 am Eastern
  Daylight Time, 06:59 Irish time, and 8:59 pm 14 March 2020 New Zealand time).
</p>
