
<div class="form-options">
  <%= contact_form.check_box(:mail_souvenir_book, class: "form-control form-control-m-checkbox", id: "mail_souvenir_book") %>
  <label for="mail_souvenir_book">Please mail me a paper copy of the souvenir book.</label>
</div>
