<%#
  Copyright 2018 Rosanna Gray
  Copyright 2019 Jen Zajac (jenofdoom)
  Copyright 2020 Matthew B. Gray
  Copyright 2020 Victoria Garcia

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<div class="form-options">
  <%= contact_form.check_box(:mail_souvenir_book, class: "form-control form-control-m-checkbox", id: "mail_souvenir_book") %>
  <label for="mail_souvenir_book">Please mail me a paper copy of the souvenir book.</label>
</div>

<div class="form-options">
  <%= contact_form.check_box(:installment_wanted, class: "form-control form-control-m-checkbox", id: "installment_wanted") %>
  <label for="installment_wanted">I am interested in upgrading to an attending membership on an installment plan.</label>
</div>
