<%#
  Copyright 2021 Fred Bauer

  Licensed under the Apache License, Version 2.0 (the "License");
  
  Note that this is static text, should really be moved to the i18n file
%>

<h1>Mobility Device Rentals <%= worldcon_year %></h1>

<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <p>
          Please use the link below to access mobility device rentals.
        <p>
          When making your mobility device reservation, include your member number in the comment field of the reservation. When prompted, 
          provide <b>DisCon2021</b> as the discount/promotional code.
        <p>
          Please do not share this link or code with others, as the discounted rate is only available to members.
        </p>

        <ul class="list-group text-dark">
              <%= link_to("Link to Mobility Device Rentals", mobility_path('Reserve')) %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</section>
