<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<div>
  <p>
    It looks like you've got multiple people against this email address.
  </p>

  <p>
    <strong>This means anyone who has access to this account can use votes associated with this account,
    and view the votes cast.</strong>
  </p>

  <p>
    If you'd rather not have this, please get in touch and we can transfer your memberships to another
    email address to keep things tidy.
  </p>

  <p>
    The person wanting to transfer, and the person receiving the transfer need to contact us at
    <a href="email:registrations@conzealand.nz">registrations@conzealand.nz</a>
  </p>

  <p>
    The transfer is of all rights that go along with that membership. If any of those rights have been
    exhausted, eg. by nominating or voting in the Hugos, then those rights are not available anymore.
  </p>
</div>
